$main-color: rgb(190, 91, 62);
$action-color: rgba(190, 91, 62, 0.8);
$main-font: "Roboto", sans-serif;
$title-font: "Montserrat", sans-serif;

//Types
$fire-type: rgb(185, 92, 73, 0.3);
$water-type: rgba(97, 104, 143, 0.3);
$electric-type: rgb(197, 149, 76, 0.3);
$grass-type: rgb(139, 137, 81, 0.3);
$poison-type: rgb(119, 88, 145, 0.3);
$normal-type: rgb(206, 164, 126, 0.3);
$ground-type: rgb(125, 58, 49, 0.3);
$bug-type: rgb(181, 193, 176, 0.3);
$fairy-type: rgba(220, 106, 178, 0.3);
$psychic-type: rgba(76, 14, 126, 0.3);
