@import "./variables";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: $main-font;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 850px;
  position: relative;

  & > div {
    display: flex;
    text-align: center;
    height: 100vh;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin-left: 15px;
  height: 100vh;

  & > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    position: absolute;
    left: 50px;
  }
}

.menu {
  background: $action-color;
  min-height: 500px;
  height: 80vh;
  width: 30px;
  max-height: 800px;
  border-radius: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 1px 5px lightgray;
  position: relative;

  &__list {
    width: 100%;
    list-style: none;
  }

  &__icon {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;

    & a {
      height: 100%;
      width: 100%;
    }

    &:nth-of-type(1) {
      border-radius: 15px;
      background-image: url(/build/img/nav-my-album.png);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;

      &.menu__icon--selected {
        background-color: rgb(169, 29, 1);
        background-image: url(/build/img/nav-my-album-white.png);
        pointer-events: none;
      }

      &:hover {
        background-color: $main-color;
        background-image: url(/build/img/nav-my-album-white.png);
      }
    }

    &:nth-of-type(2) {
      border-radius: 15px;
      border-radius: 15px;
      background-image: url(/build/img/nav-detail.png);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center;

      &.menu__icon--selected {
        background-color: $main-color;
        background-image: url(/build/img/nav-detail-white.png);
      }

      &:hover {
        background-color: $main-color;
        background-image: url(/build/img/nav-detail-white.png);
      }
    }
  }
}

main {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: flex;
}

.control-container {
  position: absolute;
  top: 10px;
  left: 750px;
  display: flex;

  &__left {
    cursor: pointer;
    background-image: url(/build/img/flecha-negra.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    transform: rotate(180deg);
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;

    &:hover {
      background-image: url(/build/img/flecha-pokemon.png);
    }
  }

  &__right {
    cursor: pointer;
    background-image: url(/build/img/flecha-negra.png);
    background-position: center;
    background-size: contain;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;

    &:hover {
      background-image: url(/build/img/flecha-pokemon.png);
    }
  }
}

.gallery {
  width: 100%;
  margin-left: 65px;
  margin-top: 200px;
  display: flex;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
}

.pokemon-card {
  background: lightgrey;
  height: 260px;
  width: 120px;
  border-radius: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &.fire {
    background: $fire-type;
  }
  &.grass {
    background: $grass-type;
  }
  &.electric {
    background: $electric-type;
  }
  &.water {
    background: $water-type;
  }
  &.normal {
    background: $normal-type;
  }
  &.bug {
    background: $bug-type;
  }
  &.ground {
    background: $ground-type;
  }
  &.poison {
    background: $poison-type;
  }
  &.normal {
    background: $normal-type;
  }
  &.psychic {
    background: $psychic-type;
  }
  &.fairy {
    background: $fairy-type;
  }
  &.ghost {
    background: $ghost-type;
  }
  &.ice {
    background: $ice-type;
  }

  &:hover {
    box-shadow: rgba(146, 37, 23, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  &__pokeball {
    width: 100%;
    height: 20px;
    position: relative;

    & > div:nth-of-type(1) {
      border-radius: 50%;
      background-image: url(/build/img/logo-pokeball-vacio.png);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      height: 20px;
      width: 20px;
      right: 0;
      position: absolute;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        background-image: url(/build/img/logo-pokeball-cazado.png);
      }

      &.catched {
        cursor: initial;
        background-image: url(/build/img/logo-pokeball-cazado.png);
        opacity: 1;
      }
    }
  }

  &__delete-button {
    cursor: pointer;
    background-image: url(/build/img/cruz.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    position: relative;
    left: 0;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__image {
    margin-top: 20px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    > img {
      z-index: 1;
    }

    > div {
      background: white;
      opacity: 0.3;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      margin-bottom: 15px;
    }
  }

  &__main-info {
    width: 100%;
    height: 50px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__id {
    font-size: 8px;
    font-weight: 300;
    line-height: 13px;
    width: 40px;
    border-radius: 20px;
    background: rgba(109, 109, 109, 0.2);
    text-align: center;
  }

  &__name {
    font-family: $title-font;
    font-weight: 400;
    padding-top: 17px;
    font-size: 17px;
  }
}
